.App {
  text-align: center;
}

.tweet_image_upload .file{
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: 2px solid #e67913d7;
  color: #e67913d7;
  border-radius: 40px;
  font-size: 13px;
  width: 105px;
  padding-left: 19px;
  padding-bottom: 6px;
}

.tweet_image_upload input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  height: -webkit-fill-available;
}