.App {
  text-align: center;
}

.upload_button .file{
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: 2px solid #f58c29d7;
  color: #f58c29d7;
  border-radius: 40px;
  font-size: 13px;
  width: 105px;
  padding-left: 19px;
  padding-bottom: 6px;
}

.upload_button input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  height: -webkit-fill-available;
}


.search_card :hover{
  background-color: rgba(231, 229, 229, 0.856);
}
.search_card :hover .follow_button{
  background-color: black;
}
.search_card :hover .unfollow_button{
  background-color: #6c757d;
}